@import 'imports/Reset_css_2';
@import 'imports/PolyFluidSizing.scss';
@import 'imports/Typography.scss';
@import 'imports/Header.scss';
@import 'imports/Intro.scss';
@import 'imports/portfolio.scss';
body {
    font-family: 'Nexa', 'open sans', Arial, Helvetica, sans-serif;
    height:2000px; 
    overflow-x: hidden;
  } 
