
// Colors
$color-gray: #9e9e9e;
$color-gray-light: #bebebe;

//Media queries
$width-768: 768px;
$width-769: 769px;
$width-1280: 1280px;
$height-900: 900px;


body {
    font-family: 'Body', 'News Cycle', 'Nexa', 'open sans', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    word-break: break-word;
  } 

img {
    max-width: 100%;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
    &:hover {
        text-decoration: underline;
    }
    &.back {
        padding-left: 24px;
        &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            left: 0;
            top:-4px;
            background: url('../src/img/arrow-left.svg') no-repeat;
            
        }
    }
}

.container {
    margin:0 20px;
    @media (min-width:$width-769) {
        width:80%;
        margin:0 auto;
          p {
            max-width: 500px; 
          }
      }
}

%after-shadow {
    content: '';
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.1), 0 32px 32px rgba(0,0,0,0.1), 0 64px 64px rgba(0,0,0,0.1);
    z-index: -1;
    transition:  box-shadow 0.25s ease, opacity 0.25s ease, transform 0.25s ease;
  }

  @media screen and (min-width:$width-769) {
    %after-shadow-desktop {
        content: '';
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        box-shadow: 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.1), 0 32px 32px rgba(0,0,0,0.1), 0 64px 64px rgba(0,0,0,0.1);
        z-index: -1;
        transition:  box-shadow 0.25s ease, opacity 0.25s ease, transform 0.25s ease;
      }
}