 
  body.menuOpen {
    overflow: hidden;
    position: fixed;
  }
  #page-header {
    font-family: 'Lato', sans-serif;
    width:100%;
    height: 80px;
    margin: 0 auto 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 4;
    top:0;
    background: #fff;

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 0%;
      height: 100vh;
      top:0;
      background-color: rgba(0,0,0,0.0);
      transition: background-color 0.55s ease-in-out , width 0s linear 0.55s;
    }
    &.darken {
      z-index: 2;
      &::after {
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        transition: background-color 0.55s ease-in-out, width 0s linear;
      }
    }
  
  .logo {
    color:#000;
    text-decoration:none;
    font-weight:bold;
    margin-left: 20px;
    display:block;
    font-size:22px;
    z-index: 4;
  }
  
  #toggle-menu {
    outline:0;
    background:none;
    border:0;
    font-weight:bold;
    margin-right: 14px;
    position: relative;
    z-index: 4;
    &:hover {
      cursor:pointer;
    }
  }
  
  .menu-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background: #fff;
    z-index:3;
    //Animate
    transform: translateY(-600px);
    transition: transform 0.45s ease-in-out;
    &.open {
      transform: translateY(0px);
    }
    .container {
      
      max-width:1400px;
      margin:auto;
      padding-top: 84px;
      padding-bottom: 30px;
      display:flex;
      justify-content: space-between;
      flex-flow: row wrap;
      h3 {
        font-size:14px;
        font-weight: normal;
        color:#aaa;
        margin-bottom: 10px;
        margin-left: 20px;
      }
    }
    nav {
      margin-bottom: 25px;
      flex:1 100%;
      ul {
  
        li {
          display:block;
          
          overflow: hidden;
          border-bottom: 1px solid #eee;
          &:first-child {
            border-top: 1px solid #eee;
          }
          a {
            padding:25px 30px;
            font-size: 25px;
            color: #000;
            font-weight: bold;
            display: block;
            line-height: 1.2;
            &:active, &:hover {
              background-color: #eee;
            }
          }
        }
      }
    }
    .column {
      flex:1 50%;
      h2 {
        font-size: 25px;
        color:#000;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 30px;
      }
      address {
        padding-left: 0px;
        margin-left: 30px;
        overflow: hidden; 
        a,
        span {
          
          font-size: 14px;
          color:#666;
          font-weight: normal;
          line-height:1.5; 
        }
        a {
          display: block;
        }
        span {
          display: inline-block;
        }
      }
    }
  }
  
  
  a {
    color:#000;
    text-decoration: none;
    font-weight:600;
  }
}

  
  //Animation class - startFadeIn
  .fade-in-start {
    transform: translateY(0px);
    animation-timing-function: ease-in-out;
    animation-delay:0s;
    animation-duration: 0.75s;
    animation-fill-mode: backwards;
    animation-name: startFadeIn;
  }
  //Fade in from bottom
  @keyframes startFadeIn {
    from {
      transform: translateY(15px);
      opacity:0;
    }
    to {
      transform: translateY(0px);
      opacity:1;
    }
  }
  
  //Fade in menu item
  .fimi {
    &.active {
  
      animation-duration: 0.55s;
      animation-fill-mode: backwards;
      animation-name: expandMenuItems;
      &.agent-1 {
        animation-delay:0.20s;
      }
      &.agent-2 {
        animation-delay:0.25s;
      }
      &.agent-3 {
        animation-delay:0.30s;
      }
      &.agent-4 {
        animation-delay:0.35s;
      }
      &.agent-5 {
        animation-delay:0.40s;
      }
    }
  }
  //Fade in menu items when expanded
  @keyframes expandMenuItems {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  //Link hover animation
  @keyframes hoverMenuItems {
    from {
      transform: translateX(-110%);
    }
    to {
      transform: translateX(-20%);
    }
  }
  //Link hover out animation 
  @keyframes hoverMenuItemsEnd {
    from {
      transform: translateX(-20%);
    }
    to {
      transform: translateX(100%);
    }
  }


  @media screen and (min-width:$width-769) {
    body.menuOpen {
      overflow-y: unset;
      position: unset;
    }
   #page-header {
    height: 100px;
    background: transparent;
      .logo {
      margin-left: 50px;
      }
      #toggle-menu {
        margin-right: 20px;
      }
      .menu-container {
        .container {
          flex-direction: row;
          width:80%;
          padding-bottom:84px;
          h3 {
            margin-bottom: 35px;
            margin-left:0;
          }
          a {
            position: relative;
            span {
              width: 150%;
              height: 110%;
              background-color: #f2f2f2;
              position: absolute;
              z-index: -1;
              animation-duration: 0.65s;
              animation-fill-mode: forwards;
              animation-name: hoverMenuItemsEnd;
            }
            &:hover span {
              animation-name: hoverMenuItems;
            }
          }
        }
        nav {
          margin-bottom: 0;
          flex: unset;
          ul {
            li {
              padding:5px 12px;
              border:0;
              &:first-child {
                border:0;
              }
              a {
                padding:0;
                margin-bottom: 15px;
                display: inline;
                &:active, &:hover {
                  background-color:unset;
                }
              }
            }
          }
        }
        .column {
          flex: unset;
          h2 {
            margin-left:0;
            margin-bottom: 15px;
          }
          address {
            margin-left: 10px;
            a, span {
              padding: 0 10px;
            }
          }
        }
      }
    }
    #toggle-menu {
      margin-right: 50px;
    }
  }