#portfolio {
width:100%;
height:100vh;
display: flex;
flex-direction: column;
justify-content: center;

header {
    
    width:80%;
    margin:0 auto;
    h2,p {
        max-width: 700px;
        margin-bottom: 30px;
    }
}
main {
    margin: 50px 0 0;
    padding-bottom: 100px;
    white-space: nowrap;
    
    
    //Horizontal scrollbar
    #mCSB_1_scrollbar_horizontal {
        max-width: 600px;
        margin: auto; 
        position: fixed;
        bottom:20px;
    }
    > div, > div > div {
        overflow: visible;
    }
    .post-teaser {
        position: relative;
        min-width: 350px;
        width:calc(100vw/5);
        min-height: 500px;
        height:calc(100vw/4);
        display: inline-block;
        margin-right: 40px;
        white-space: normal;

        transition: transform 0.25s ease;

        .post-teaser-img {
            background-size: cover;
            border-radius: 15px;
            width: 100%;
            height: 100%;
        }

        &:first-child {
            margin-left: 50px;
        }
        &:last-child {
            margin-right: 50px;
        }
        
        &::after {
            content: '';
            width: 80%;
            height: 100%;
            position: absolute;
            top: 0;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            box-shadow: 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.1), 0 32px 32px rgba(0,0,0,0.1), 0 64px 64px rgba(0,0,0,0.1);
            z-index: -1;
            transition:  box-shadow 0.25s ease;
        }
        

            header {
                transform: translateY(130%);
                position: absolute;
                bottom: 0;
                opacity: 0;
                transition: transform 0.25s ease, opacity 0.25s ease;
            }
    }
    &:hover .post-teaser {
        transform:scale(1.1,1.1);
        &::after {
            box-shadow: 0 4px 4px rgba(0,0,0,0.10), 0 8px 8px rgba(0,0,0,0.10), 0 16px 16px rgba(0,0,0,0.10), 0 32px 32px rgba(0,0,0,0.10), 0 64px 64px rgba(0,0,0,0.10), 0 128px 128px rgba(0,0,0,0.10);
        }
        header {
            //transform: translateY(130%);
            opacity: 1;
        }

    &:not(:hover) {
        transform: scale(0.9,0.9);
        &::after {
            box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.1), 0 32px 32px rgba(0,0,0,0.1);
        }
        header {
            //transform: translateY(120%);
            display: none;
        }
      }
    }
}
}